*,
body {
  direction: rtl;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
body {
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
.hide {
  display: none;
}
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  background-color: #a11c69;
}
.loader img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes scale {
  0% {
    transform: scale(0.8);
    border: 2px solid transparent;
  }
  100% {
    transform: scale(1.1);
    border: 3px solid #cb1a75;
    color: #cb1a75;
    font-weight: 800;
  }
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 20px);
  }
}
/* --------------------start navbar */
.navbar {
  background: linear-gradient(45deg, #7b1e5e, #a11c69);
  padding: 10px !important;
  direction: rtl;
  position: relative;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #e6739f !important;
  text-shadow: 2px 2px 10px #e6739f;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 2px 2px 10px white;
}
.navbar-light .navbar-nav .nav-link {
  position: relative;
}
.navbar .navbar .navbar-nav {
  text-align: right;
  margin-right: 10px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}
.navbar-light .navbar-nav .nav-link span {
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: white;
  border-radius: 50px;
  transition: all 0.5s linear;
}
.navbar-light .navbar-nav .nav-link:hover span {
  width: 90%;
  left: 5%;
}
.navbar-toggler {
  border: 2px solid white !important;
  padding: 6px;
}
.navbar-toggler span {
  width: 35px;
  height: 3px;
  background-color: white;
  z-index: 100;
  display: block;
  color: white;
}
.navbar-toggler span.sec-p {
  margin: 5px 0;
  background-color: #e6739f;
  width: 15px;
  margin-right: auto;
}
.navbar-toggler span.sec-p.open {
  width: 35px;
  transition: all 0.5s linear;
}
.navbar .absol {
  background-color: white;
  position: absolute;
  top: auto;
  border-radius: 25px;
  left: 10%;
  color: black;
  text-align: center;
  padding: 10px 25px;
  animation: scale 1.5s linear 0.5s infinite alternate;
  cursor: pointer;
}

@media (max-width: 992px) {
  .navbar .absol {
    left: 40%;
    top: 10%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .navbar-light .navbar-nav .nav-link:hover span {
    width: 40%;
    left: 30%;
  }
  .navbar-nav {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .navbar .absol {
    padding: 2px 11px;
    font-size: 16px;
    left: 35%;
  }
}

/* --------------------end navbar */
/* --------------------start main1*/

.main1 {
  background-color: #f8f7ff;
  padding: 26px 0px;
  margin-bottom: 50px;
  font-size: 16px;
}
.main1 a {
  text-align: center;
  display: block;
  color: #88889a;
  font-weight: 500;
}
.main1 a:last-of-type {
  font-size: 40px;
  font-weight: 900;
  color: #445261;
}
.main1 a:hover {
  text-decoration: none;
}
/* --------------------end main1 */
/* --------------------start main2*/

.main2 {
  width: 30%;
  text-align: center;
  margin: auto;
  display: block;
}
@media (max-width: 1200px) {
  .main2 {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .main2 {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .main2 {
    width: 70%;
  }
}
.main2 img {
  width: 100%;
  animation: moving 1s linear infinite alternate;
}
.main2 .inner-text {
  margin-top: 40px;
}
.main2 .inner-text .tittle {
  font-size: 40px;
  font-weight: 700;
  color: #445261;
  margin-bottom: 2px;
}
@media (max-width: 1200px) {
  .main2 .inner-text .tittle {
    font-size: 38px;
  }
}
@media (max-width: 768px) {
  .main2 .inner-text .tittle {
    font-size: 35px;
  }
}
.main2 .inner-text .text {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 2px;
  color: #88889a;
}
@media (max-width: 1200px) {
  .main2 .inner-text .text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .main2 .inner-text .text {
    font-size: 14px;
  }
}
.main2 .inner-text input {
  width: 40%;
  border: none;
  background: linear-gradient(45deg, #c02881, #7b1e5e);
  color: white;
  padding: 15px;
  border-radius: 40px;
  font-weight: 900;
  margin-bottom: 140px;
}
.main2 .inner-text input:hover {
  background: white !important;
  color: #a11c69;
  border: 2px solid #a11c69;
  transition: all 0.5s linear;
}
@media (max-width: 768px) {
  .main2 .inner-text input {
    padding: 10px;
  }
}
/* --------------------end main2 */
/* --------------------start footer*/

.footer {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 70px;
  text-align: right;
  color: white;
  background: linear-gradient(45deg, #c81a74, #7b1e5e);
}
.footer .container .card {
  background-color: transparent;
  border: none;
}
.footer .container .card:first-of-type img {
  margin-bottom: 20px;
  width: 100px;
}
.footer .container .card:first-of-type p {
  width: 90%;
  line-height: 1.9;
}
@media (max-width: 992px) {
  .footer .container .card:first-of-type p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer .container .card:first-of-type p {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .footer .container .card:first-of-type p {
    font-size: 10px;
  }
  .footer .container .card {
    text-align: center;
    margin-bottom: 20px;
  }
  .footer .container .card:first-of-type img {
    margin: auto;
    display: block;
  }
}

.footer .container .card:nth-of-type(2) .list-tittle,
.footer .container .card:nth-of-type(3) .list-tittle {
  margin-bottom: 30px;
  font-size: 20px !important;
  font-weight: 700;
}
@media (max-width: 992px) {
  .footer .container .card:nth-of-type(2) .list-tittle,
  .footer .container .card:nth-of-type(3) .list-tittle {
    font-size: 17px !important;
  }
}
@media (max-width: 768px) {
  .footer .container .card:nth-of-type(2) .list-tittle,
  .footer .container .card:nth-of-type(3) .list-tittle {
    font-size: 13px !important;
    margin-bottom: 10px;
  }
}
.footer .container .card:nth-of-type(2) ul,
.footer .container .card:nth-of-type(3) ul {
  padding-right: 0px;
}
.footer .container .card:nth-of-type(2) ul li,
.footer .container .card:nth-of-type(3) ul li {
  margin: 8px 0px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .footer .container .card:nth-of-type(2) ul li,
  .footer .container .card:nth-of-type(3) ul li {
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  .footer .container .card:nth-of-type(2) ul li,
  .footer .container .card:nth-of-type(3) ul li {
    font-size: 11px !important;
  }
}
.footer .container .card:nth-of-type(2) ul li:hover,
.footer .container .card:nth-of-type(3) ul li:hover {
  font-size: 20.4px;
  transition: all 1s ease-in-out;
}
@media (max-width: 768px) {
  .footer .container .card:nth-of-type(2) .p-footer,
  .footer .container .card:nth-of-type(3) .p-footer {
    font-size: 11px !important;
  }
}
.footer .container .card:nth-of-type(2) .p-footer i,
.footer .container .card:nth-of-type(3) .p-footer i {
  margin-left: 6px;
}
.footer .container .card:nth-of-type(2) .p-footer:last-of-type i,
.footer .container .card:nth-of-type(3) .p-footer:last-of-type i {
  margin-left: 12px;
  font-size: 25px;
}
@media (max-width: 768px) {
  .footer .container .card:nth-of-type(2) .p-footer:last-of-type i,
  .footer .container .card:nth-of-type(3) .p-footer:last-of-type i {
    font-size: 16px !important;
  }
}

.last {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 12px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .last {
    font-size: 12px !important;
    padding: 8px;
  }
}
/* --------------------end footer */

/*# sourceMappingURL=style.css.map */
